<html>
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="styles.css" rel="stylesheet">
        <script src="/js/script.js"></script>
    </head>
    <body>
        <div class="container">
          <div class="upper-portion">
          <div class="navbar">
            <div class="name">InstaNote AI</div>
            <div class="user">Hi, Username</div>
          </div>
            <div class="bar">
              <input id="video-url" type="url" placeholder="https://www.youtube.com/watch?v=VIDEO_ID"></input>
              <button id="submit" type="submit">Generate</button>
            </div>
            <div class="filler"></div>
          </div>
          <div class="lower-portion">
            <h1>Use History</h1>
            <div id="note-container">
            <div class="previous-note"></div>
               
            </div>         
          </div>
        </div>
      </body>
</html>
